body {
  background-image: url(/image/login_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.custom-letter {
    letter-spacing: -1px;
}
.custom-card {
  width: 500px;
  max-width: 90%;
}
.logo {
    margin-top: 50px;
    margin-left: 50px;
}
/* 버튼 스타일 변경 */
.custom-btn {
  background-color: black;  /* 배경색 검정 */
  color: white;             /* 글자색 하얀색 */
  border: none;             /* 테두리 제거 */
  padding: 10px 20px;       /* 여백 조정 */
  font-size: 18px;          /* 글씨 크기 */
  border-radius: 20px;       /* 모서리 둥글게 */
  text-align: center;       /* 글자 중앙 정렬 */
}

.custom-btn:hover {
  background-color: rgb(223, 28, 28);  /* 마우스 오버 시 배경색 조금 밝게 */
  color: white;
}